@font-face {
    font-family: por;
    src: url(/fonts/ProstoOne-Regular.ttf) format(truetype);
}
* {
  margin: 0;
  padding: 0;
}

html{
    font-size: 10px;
}

body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

/*body--main code for hero page begins here*/
/*making all the section(header, main, footer) to have there own spaces*/
header{
    height: 10%;
    margin:0 16px;
}
main{
    height: 85%;
    margin:0 16px;
    background-color: blueviolet;
}
footer{
    height: 5%;
    margin:0 16px;
    background-color: rgb(43, 226, 119);
}
/*header part starts*/
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/*header-----h1 the hero logo styling starts here*/
#hero-logo{
    font-size: 4em;
    width: 20%;
}
.logo-c{
    color: red;
}
/*header-----nav-(hero-nav) styling starts here*/
#hero-nav{
    display: flex;
    font-size: 1.8rem;
    width: 40%;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
#hero-nav a{
    font-family: "por", sans-serif;
    text-decoration: none;
    color: black;
}
/*header-----nav-(hero-nav) styling starts here*/
#hero-history{
    font-size: 1.8rem;
    font-family: "por", sans-serif;
    flex-direction: row;
    align-items: center;
}


/*mainbody part starts*/
/*footer part starts*/